body {
  background-image: url("../images/image-3.png")

}

h1 {
  background-color: #d9a598;
  font-size: 40px;
  color: b u l a e by annapashmina;
  border-radius:  20px;
}
h2 {
  background-color:  	#e5c29c;
  font-size: 30px;
  color: flashes light by amdillon;
  /*i love grunge*/
}
p {
  background-color:  	#a47460;
  font-family: bookman;
  color: Break the Rules;
  font-size: 55px;
}
